
.navbar-brand {
    color: #292c37;
    font-size: 2rem;
}

.d-flex {
    color: #292c37;
}

.nav-item {
}

.btn {
    color: #b11623;
    border-color: #b11623;
}

.btn:hover {
    color: #fff;
    background-color: #9f111b;
}

/* Estilos generales para las cards */
.card {
    margin: 20px; /* espacio entre las cards */
    text-align: center;
}

.container-card {
    margin-left: 100px;
}

/* Media queries */
@media screen and (max-width: 501px) {
    /* para tablet */
   .container-card {
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .card {
        width: 80%; /* ancho relativo */
        margin: 20px auto; /* centrado */
    }
   .mas-cards {
        display: none;
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #b11623;
        margin-top: 50px;
    }
}

@media screen and (max-width: 991px) {
    /* para pc */
   .container-card {
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .card {
        width: calc(45% - 40px); /* ancho relativo con espacio entre cards */
        margin: 20px; /* espacio entre cards */
        display: inline-block; /* para que se ajusten horizontalmente */
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #b11623;
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) {
    /* para pc */
   .container-card {
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .card {
        width: calc(20% - 40px); /* ancho relativo con espacio entre cards */
        margin: 20px; /* espacio entre cards */
        display: inline-block; /* para que se ajusten horizontalmente */
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #b11623;
        margin-top: 50px;
    }
}
