body{
    background-color: #292c37;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.navbar-brand {
    color: #292c37;
    font-size: 2rem;
}

.d-flex {
    color: #292c37;
}
.nav-item {
    font-size: 24px;
}
.dropdown-item {
    font-size: 20px;
    color: #9f111b;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  

.redes {
    text-align: left;
}


.redes-footer {
    margin-bottom: 10px;
    
}

.social-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

.social-link i {
    margin-right: 10px;
}

.contacto-footer {
    margin-bottom: 10px;
}

.contact-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

.contact-link i {
    margin-right: 10px;
}
#git {
    color: white;
    font-size: 25px;
}

#mail{
    color: white;
    font-size: 25px;
}

#wh{
    color: white;
    font-size: 25px;
}

#li{
    color: white;
    font-size: 25px;
}

#ig {
    color: white;
    font-size: 25px;
}

#git:hover {
    color: #4078c0;
}

#mail:hover{
    color: #ea4335;
}

#wh:hover{
    color: #25d366;
}

#li:hover{
    color: #0a66c2;
}

#ig:hover {
    color: #fd1d1d;
}



footer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    text-align: center;
    color: rgb(165, 163, 163);
    margin: 50px;
}
@media screen and (min-width: 501px){
    /* para tablet */
    .row {
        max-width: 1000px; 
        margin: 40px auto; 
        padding: 20px; 
        padding-top: 50px;
    
    }
    
    .title-form {
    
        font-size: 35px;
        font-weight: bold;
        margin-top: 50px;
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(165, 163, 163);
        margin-top: 50px;
    }
}


@media screen and (max-width: 991px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(165, 163, 163);
        margin-top: 50px;
    }
}


@media screen and (min-width: 992px) {
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(165, 163, 163);
        margin-top: 50px;
    }
}



.carousel.slide{
    margin-top: 133px;
    padding-left: 200px;
    padding-right: 200px;
}

button.carousel-control-next{
    margin-right: 200px;
    width: 120px;
    height: 600px;
    transition: background-color;
    transition-duration: 0.4s;
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
}

button.carousel-control-prev{
    margin-left: 200px;
    width: 120px;
    height: 600px;
    transition: background-color;
    transition-duration: 0.4s;
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
}

button.carousel-control-next:hover{
    background-color: rgba(0, 0, 0, 0.315);
    border-bottom-left-radius: 300px;
    border-top-left-radius: 300px;
}

button.carousel-control-prev:hover{
    background-color: rgba(0, 0, 0, 0.315);
    border-bottom-right-radius: 300px;
    border-top-right-radius: 300px;
}

span.carousel-control-next-icon{
    margin-left: 40px;
}

span.carousel-control-prev-icon{
    margin-right: 40px;
}

span.carousel-control-next-icon:hover{
    background-color: #00000030;
    border-radius: 20px;
}

span.carousel-control-prev-icon:hover{
    background-color: #00000030;
    border-radius: 20px;

}

img{
    width: 100%;
    height: 600px;
}

.Item-Joystick{
    transition: all;
    transition-duration: 1s;
    transform: Item-Joystick;
}

.Item-Teclado{
    transition: all;
}

.carousel-item{
    box-shadow: 20px 20px 50px 5px #000000;
    border-radius: 10px;
}