body {
    background-color: #292c37;
}

* {
    font-family: sans-serif;
}

.d-flex {
    color: #292c37;
}

/* NAVBAR */
.nav-item {
    font-size: 24px;
    display: flex;
    text-align: center;
}

input.form-control.me-2{
    width: 50%;
}

.dropdown-item {
    font-size: 20px;
}

.btn {
    background-color: #9f111b;
    color: white;
    border-color: #b11623;
}

.btn.btn-outline-success:active{
    background-color: #64080e;
    outline: none;
    border: none;
}

.btn:hover {
    color: #fff;
    background-color: #921018;
    border-color: transparent;
}

.dropdown-item:hover{
    background-color: #9f111a3a;
}

.fa-solid.fa-house{
    color: #ff0000;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
}

.fa-solid.fa-house:hover{
color: rgb(151, 17, 17);
}

.nav-item.dropdown{
    margin-left: 40px;
    margin-right: 80px;
}

.fa-solid.fa-cart-shopping{
    color: rgb(0, 255, 0);
}

.fa-solid.fa-cart-shopping:hover{
    color: rgb(32, 175, 32);
}

a.nav-link.dropdown-toogle:hover, .nav-link:hover{
    color: white;
}

.card-title {
    color: rgb(165, 163, 163);
    font-size: 25px;
}

.card-text {
    color: rgb(165, 163, 163);
    font-size: 20px;
}


/* FOOTER */

footer{
    width: 100%;
    background-color: #292c37;
}

h1{
    color: #cccc;
}

p{
    color: #cccccc69;
}

.footer-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h1-footer {
    font-size: 70px;
    font-weight: bold;
}

div.titles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Copyright {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0;
}

/* Social and Contact Links */
.social-link {
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

.social-link i {
    margin-right: 10px;
}

.contacto-footer {
    text-align: center;
    margin-bottom: 20px;
}

.contactanos {
    text-align: center;
    margin: 0;
}

.contact-link {
    color: #cccc;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

i#wh.fa-brands.fa-whatsapp::before{
    margin-right: 5px;
}

i#mail.fa-regular.fa-envelope::before{
    margin-right: 8px;
}

.contact-link:last-child {
    margin-bottom: 0;
}

/* Footer Icons */
.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-bottom: 20px;
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.redes-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto {
    background-color: #1b1d24;
}

#git, #mail, #wh, #li{
    color: white;
    font-size: 25px;
}

#ig{
    font-size: 25px;
}

#li{
    background-color: #fff;
    color: #0a66c2;
}

#ig{
    
    background:radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
        border-radius: 30%;
}




#mail {
    color: #ff1500;
}

#wh {
    color: #25d366;
}




/* Estilos generales para las cards */
.card {
    margin: 20px; /* espacio entre las cards */
    text-align: center;
    background-color: #292c37;
    color: black;
    border-radius: 5px ;
    border: 1px solid #b11623;
    box-shadow: 0 0 50px #000;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

#contacto {
    background-color: #1b1d24;
}

.container-card {
    margin-left: 100px;
}

/* Media queries */
@media screen and (max-width: 501px) {
    /* para tablet */
   .container-card {
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .card {
        width: 80%; /* ancho relativo */
        margin: 20px auto; /* centrado */
    }
   .mas-cards {
        display: none;
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(165, 163, 163);
        margin-top: 50px;
    }

    #contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .h1-footer {
        display: none;
    }
}

@media screen and (max-width: 773px) {
    /* para tablet */
    .container-card {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center; /* Centra los elementos */
    }
    .card {
        width: 80%; /* Ancho relativo */
        margin: 20px auto; /* Centrado */
        display: block; /* Para que se ajusten verticalmente */
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(165, 163, 163);
        margin-top: 50px;
    }
    #contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .h1-footer {
        display: none;
    }
    .footer-icons {
        justify-content: center; /* Centra los iconos */
    }
    .social-link {
        margin: 0 auto; /* Centra los enlaces sociales */
    }
    .contact-link {
        margin: 0 auto; /* Centra los enlaces de contacto */
    }
}

@media screen and (max-width: 991px) {
    /* para pc */
   .container-card {
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .card {
        width: calc(45% - 40px); /* ancho relativo con espacio entre cards */
        margin: 20px; /* espacio entre cards */
        display: inline-block; /* para que se ajusten horizontalmente */
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(165, 163, 163);
        margin-top: 50px;
    }

}

@media screen and (min-width: 992px) {
    /* para pc */
   .container-card {
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .card {
        width: calc(20% - 40px); /* ancho relativo con espacio entre cards */
        margin: 20px; /* espacio entre cards */
        display: inline-block; /* para que se ajusten horizontalmente */
    }
    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: rgb(165, 163, 163);
        margin-top: 50px;
    }
}

@media screen and (max-width: 901px) {
    .fa-solid.fa-cart-shopping{
        color: rgb(0, 255, 0);
        position:absolute; 
        left: 94%;
        top: 81%;
    }
}


@media screen and (min-width: 902px) and (max-width: 991px) {

    .fa-solid.fa-cart-shopping {
        color: rgb(0, 255, 0);
        position: absolute;
        left: 94%;
        top: 81%;
    }

}