/* Estilo general */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

body {
    background-color: #292c37;
}

/* Tarjetas */
.card {
    margin: 20px;
    height: 450px; /* Ajusta la altura de la tarjeta */
    width: 250px; /* Fija el ancho de la tarjeta */
    text-align: center;
    background-color: #292c37;
    color: black;
    border-radius: 5px;
    border: 1px solid #b11623;
    box-shadow: 0 0 50px #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
}

.card-title {
    font-size: 18px;
    margin: 10px 0;
}

.card-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    color: #cccc; /* Color del texto */
}

.submit {
    font-size: 15px;
    background-color: #b11010;
    color: rgb(204, 204, 204);
    border-radius: 5px;
    border-style: none;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
    align-self: center; /* Centra el botón */
    white-space: nowrap;
    display: block; /* Agrega esta propiedad */
    

}

.submit:hover {
    color: #fff;
    background-color: #921018;
}

.submit:active {
    background-color: rgb(56, 1, 1);
    color: #cccccc;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px; /* Fija la altura de la imagen */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}


/* Sección de juegos */
div.games {
    width: 100rem;

}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: center; /* Asegura que las tarjetas estén alineadas verticalmente en el centro */
    gap: 20px;
    padding-left: 140px;
    margin-top: 50px;
}

.games img {
    height: 150px; /* ajusta la altura de la imagen */
    object-fit: cover; /* asegúrate de que la imagen se adapte al contenedor */
}


.games h4 {
    color: #cccc;
    font-size: 18px; /* ajusta el tamaño del título */
}

.games p {
    color: #cccc;
    font-size: 14px; /* ajusta el tamaño del texto */
}

.games button {
    width: 120px; /* ajusta el ancho del botón */
    height: 40px; /* ajusta la altura del botón */
    background-color: #b11010;
    color: rgb(204, 204, 204);
    border-radius: 5px;
    border-style: none;
    transition: background-color 0.3s, color 0.3s;
}

.games button:hover {
    color: #fff;
    background-color: #921018;
    
}

.games button:active {
    background-color: rgb(56, 1, 1);
    color: #cccccc;
}

#games {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        flex-direction: column;

         /* Layout en columna para mejor adaptación */
}

div.col-md-4.mb-4{
    width: 100%;
    
}

div#games.games{
    width: 100%;
}



/* FOOTER */

footer{
    width: 100%;
    background-color: #292c37;
}

h1{
    color: #cccc;
}

p{
    color: #cccccc69;
}

.footer-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.h1-footer {
    font-size: 40px;
    font-weight: bold;
}

div.titles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Copyright {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 0;
}

/* Social and Contact Links */
.social-link {
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

.social-link i {
    margin-right: 10px;
}

.contacto-footer {
    text-align: center;
    margin-bottom: 20px;
}

.contactanos {
    text-align: center;
    margin: 0;
}

.contact-link {
    color: #cccc;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

i#wh.fa-brands.fa-whatsapp::before{
    margin-right: 5px;
}

i#mail.fa-regular.fa-envelope::before{
    margin-right: 8px;
}

.contact-link:last-child {
    margin-bottom: 0;
}

/* Footer Icons */
.footer-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-bottom: 20px;
}

.redes {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.redes-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacto {
    background-color: #1b1d24;
}

#git, #mail, #wh, #li{
    color: white;
    font-size: 25px;
}

#ig{
    font-size: 25px;
}

#li{
    background-color: #fff;
    color: #0a66c2;
}

#ig{
    
    background:radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d92e7f 62%,
        #9b36b7 85%,
        #515ecf);
        border-radius: 30%;
}




#mail {
    color: #ff1500;
}

#wh {
    color: #25d366;
}



/* NAVBAR */
.nav-item {
    font-size: 24px;
}

.nav-item {
    font-size: 24px;
    display: flex;
    text-align: center;
}

input.form-control.me-2{
    width: 50%;
}

.dropdown-item {
    font-size: 20px;
}

.btn {
    background-color: #9f111b;
    color: white;
    border-color: #b11623;
}

.btn:hover {
    color: #fff;
    background-color: #921018;
    border-color: transparent;
}

.btn.btn-outline-success:active{
    background-color: #64080e;
    outline: none;
    border: none;
}

.dropdown-item:hover{
    background-color: #9f111a3a;
}

.fa-solid.fa-house{
    color: #ff0000;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
}

.fa-solid.fa-house:hover{
color: rgb(151, 17, 17);
}

.nav-item.dropdown{
    margin-left: 40px;
    margin-right: 80px;
}

.fa-solid.fa-cart-shopping{
    color: rgb(0, 255, 0);

}

.fa-solid.fa-cart-shopping:hover{
    color: rgb(32, 175, 32);
}

a.nav-link.dropdown-toogle:hover, .nav-link:hover{
    color: white;
}

form.d-flex{
    position: absolute;
    left: 85%;    
}

input.form-control.me-2{
    width: 50%;
    
}

navbar.navbar-expand-lg.bg-body-tertiary{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor de tarjetas */
.container-card {
    margin-left: 100px;
}

/* Responsive */
/* CELULAR */
@media screen and (max-width: 901px) {
    #games {
        width: calc(100% - 40px); /* Full width with margin */
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        height: 450px; /* Ajusta la altura de la tarjeta */
        text-align: center;
        background-color: #292c37;
        color: black;
        border-radius: 5px;
        border: 1px solid #b11623;
        box-shadow: 0 0 50px #000;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: transform 0.3s ease, box-shadow 0.3s;
    }

    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        color: rgb(165, 163, 163);
        padding: 30px 50px; /* Ajuste en el padding */
        background-color: #1b1d24; /* Fondo para el footer */
    }
    
    .footer-title {
        text-align: center;
        font-size: 30px; /* Tamaño de fuente reducido */
        font-weight: bold;
        margin-bottom: 20px; /* Espacio abajo del título */
    }
    
    div.titles{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .h1-footer {
        font-size: 30px; /* Tamaño de fuente reducido */
        font-weight: bold;
        margin-top: 30px;
    }
    

    
    /* Social and Contact Links */
    .social-link {
        display: inline-block;
        margin: 5px 0; /* Espacio entre los enlaces */
        text-decoration: none;
        color: rgb(206, 206, 206);
    }
    
    .social-link i {
        margin-right: 10px;
    }
    
    .contacto-footer {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .contactanos {
        text-align: center;
    }
    
    .contact-link {
        /* color: #cccc; */
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
    }
    
    i#wh.fa-brands.fa-whatsapp::before{
        margin-right: 5px;
    }

    i#mail.fa-regular.fa-envelope::before{
        margin-right: 8px;
    }
    
    .contact-link:last-child {
        margin-bottom: 0;
    }
    
    /* Footer Icons */
    .footer-icons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Alineación de los elementos */
        margin-bottom: 20px; /* Espacio debajo de los íconos */
    }
    
    .redes {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .redes-footer {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centramos los elementos */
    }
    
    #contacto {
        background-color: #1b1d24;
    }

    img {
        width: 100%;
        height: auto; /* Asegura la proporción correcta */
    }

    i#wh.fa-brands.fa-whatsapp::before{
        text-align: start;
    }
    
    i#mail.fa-regular.fa-envelope::before{
        text-align: start;
    }
    
.fa-solid.fa-cart-shopping{
    color: rgb(0, 255, 0);
    position:absolute; 
    left: 94%;
    top: 81%;
}
}

/* Media Query para TABLET */
@media screen and (min-width: 902px) and (max-width: 991px) {
    .card {
        width: calc(50% - 40px); /* Dos cards por fila */
    }

    footer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        color: rgb(165, 163, 163);
        padding: 30px 50px; /* Ajuste en el padding */
        background-color: #1b1d24; /* Fondo para el footer */
    }

    div.titles {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-title {
        font-size: 30px; /* Tamaño de fuente reducido */
        font-weight: bold;
        margin-bottom: 20px; /* Espacio abajo del título */
    }

    .h1-footer {
        font-size: 30px; /* Tamaño de fuente reducido */
        font-weight: bold;
    }

    /* Social and Contact Links */
    .social-link {
        display: inline-block;
        margin: 5px 0; /* Espacio entre los enlaces */
        text-decoration: none;
        color: rgb(206, 206, 206);
    }

    .social-link i {
        margin-right: 10px;
    }

    .contacto-footer {
        text-align: center;
        margin-bottom: 20px;
    }

    .contactanos {
        text-align: center;
        margin: 0; /* Eliminamos el margen para mejor alineación */
    }

    .contact-link {
        color: #cccc;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
    }

    i#wh.fa-brands.fa-whatsapp::before {
        margin-right: 5px;
        text-align: start;
    }

    i#mail.fa-regular.fa-envelope::before {
        margin-right: 8px;
        text-align: start;
    }

    .contact-link:last-child {
        margin-bottom: 0;
    }

    /* Footer Icons */
    .footer-icons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .redes {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .redes-footer {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centramos los elementos */
    }

    #contacto {
        background-color: #1b1d24;
    }

    img {
        width: 100%;
        height: auto;
    }

    .fa-solid.fa-cart-shopping {
        color: rgb(0, 255, 0);
        position: absolute;
        left: 94%;
        top: 81%;
    }
}

form.d-flex{
    position: relative;
    left: 0%;    
}